html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #ECEFF1; /* Color de fondo ligeramente azulado */
  }
  
  .container {
    box-sizing: border-box;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    margin: 20px;
    background: #FFFFFF; /* Fondo blanco para el contenedor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: inset 0 0 10px #B0BEC5; /* Sombra interior para el efecto de profundidad */
    text-align: center;
  }
  
  h1 {
    color: #1976D2;
    margin-bottom: 24px;
  }
  
  p {
    margin-bottom: 24px;
    color: #37474F; /* Color de texto oscuro */
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form input[type="number"] {
    width: calc(100% - 20px); /* 100% del contenedor menos el padding */
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #B0BEC5;
    border-radius: 4px;
    outline: none;
  }
  
  .form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #1976D2;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form input[type="submit"]:hover {
    background-color: #1565C0;
  }
  
  .resultParas p {
    padding: 10px 0;
    margin: 0;
    background: #CFD8DC; /* Color de fondo para los resultados */
    border-radius: 4px;
    box-shadow: inset 0 0 5px #B0BEC5; /* Sombra interior para los resultados */
  }
  